#formDetail{
    background-color: #F4F4F4;
}

#titleLeft, #titleRight{
    font-size: 25px;
    color: red;
}

#titleLeft{
    font-size: 35px;

}

#titleRight{
    font-size: 40px;
}

tr:hover{
    cursor: pointer;
}

#tableListUser_filter{
    float: right;
    margin-bottom: 15px;
}

#tableListUser_paginate{
    float: left;
}

#tableListUser_paginate a{
    margin: 10px;
    text-decoration: none;
}

#tableListUser_paginate a:hover{
    cursor: pointer;
    color: red;
}

#tableListRole_filter{
    float: left;
}

#tableListRole_paginate{
    float: left;
}

#tableListRole_paginate a{
    margin: 10px;
    text-decoration: none;
}

#tableListRole_paginate a:hover{
    cursor: pointer;
    background-color: darkgrey;
    color: white;
}

/* CSS để vô hiệu hóa chọn văn bản */
#tableListUser tbody tr {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#tableListUser_filter{
    display: none;
}

 .form-control:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.input-group-text:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input.form-control{

}